body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #1d4ed8;
    margin-bottom: 20px;
}

#questionNumber {
    font-size: 17px;
    font-weight: bold;
    color: #555;
}

#timer {
    display: inline-block;
    background: #fff3cd;
    color: #856404;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
}

/* Progress Bar */

#progressBar {
    width: 100%;
    max-width: 500px;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    margin: 10px auto 25px;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 0%;
    background: #2563eb;
    transition: width 0.3s;
}

/* Question */

#question {
    background: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

/* Answers */

#answers {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

#answers label {
    display: block;
    background: white;
    padding: 15px;
    margin: 12px 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
}

#answers label:hover {
    transform: scale(1.02);
}

#answers input {
    margin-right: 10px;
}

/* Correct Answer */

#answers label.correct {
    background: #d1fae5;
    color: #065f46;
    border: 2px solid #10b981;
}

/* Wrong Answer */

#answers label.wrong {
    background: #fee2e2;
    color: #991b1b;
    border: 2px solid #ef4444;
}

/* Buttons */

button {
    padding: 12px 22px;
    margin: 10px 5px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#restartBtn {
    background: #16a34a;
}

#restartBtn:hover {
    background: #15803d;
}

/* Result */

#result {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    border-radius: 12px;
}

/* Mobile */

@media (max-width: 600px) {

    body {
        padding: 12px;
    }

    h1 {
        font-size: 27px;
    }

    #question {
        font-size: 19px;
        padding: 15px;
    }

    #answers label {
        padding: 13px;
    }

    button {
        width: 90%;
        max-width: 300px;
    }
}